# SPDX-FileCopyrightText: Public Domain
# SPDX-License-Identifier: CC0-1.0

version: 2
updates:
  - package-ecosystem: "nuget"
    directories:
      - "/examples/minimal"
      - "/test/Buffers"
      - "/test/Memory"
    ignore:
      - dependency-name: "Microsoft.DotNet.ILCompiler"
      - dependency-name: "Microsoft.NET.ILLink.Task"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7
    groups:
      dev-dependencies:
        patterns:
          - "*"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 10
    groups:
      gh-actions:
        patterns:
          - "*"
