# SPDX-FileCopyrightText: Public Domain
# SPDX-License-Identifier: CC0-1.0

* text=auto
*[xX][mM][lL]                   text eol=crlf
*.[cC][sS]                      text eol=crlf
*.[sS][lL][nN]                  text eol=crlf
*.[rR][eE][sS][xX]              text eol=crlf
*.[pP][rR][oO][pP][sS]          text eol=crlf
*.[cC][sS][pP][rR][oO][jJ]      text eol=crlf
*.[tT][aA][rR][gG][eE][tT][sS]  text eol=crlf

# Force batch scripts to always use CRLF line endings so that if a repo is accessed
# in Windows via a file share from Linux, the scripts will work.
*.[bB][aA][tT]  text eol=crlf
*.[cC][mM][dD]  text eol=crlf

# Force bash scripts to always use LF line endings so that if a repo is accessed
# in Unix via a file share from Windows, the scripts will work.
*.[sS][hH] text eol=lf

# Binary files
*.[bB][mM][pP]     -diff -text
*.[gG][iI][fF]     -diff -text
*.[iI][cC][oO]     -diff -text
*.[jJ][pP][gG]     -diff -text
*.[pP][nN][gG]     -diff -text
*.[pP][sS][dD]     -diff -text
*.[sS][nN][kK]     -diff -text
*.[wW][eE][bB][pP] -diff -text

###############################
# Git Large File System (LFS) #
###############################

# Archives
*.7[zZ] filter=lfs diff=lfs merge=lfs -text
*.[bB][rR] filter=lfs diff=lfs merge=lfs -text
*.[gG][zZ] filter=lfs diff=lfs merge=lfs -text
*.[tT][aA][rR] filter=lfs diff=lfs merge=lfs -text
*.[zZ][iI][pP] filter=lfs diff=lfs merge=lfs -text

# Documents
*.[pP][dD][fF] filter=lfs diff=lfs merge=lfs -text

# Executables
*.[dD][lL][lL] filter=lfs diff=lfs merge=lfs -text
*.[eE][xE][eE] filter=lfs diff=lfs merge=lfs -text
