# SPDX-FileCopyrightText: Public Domain
# SPDX-License-Identifier: CC0-1.0

name: Native AOT Build
on:
  push:
    branches-ignore:
      - 'dependabot/**'
    tags-ignore:
      - '**'
  pull_request:
    branches-ignore:
      - 'dependabot/**'

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read

jobs:
  REUSE_compliance_check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
    - name: REUSE Compliance Check
      uses: fsfe/reuse-action@676e2d560c9a403aa252096d99fcab3e1132b0f5 # v6.0.0

  publish_aot:
    strategy:
      matrix:
        target_runtime: [ x64, arm64 ]
        build_config: [ Release, Debug ]
        plugin_demo: [ minimal, gui, fsharp, vbnet ]
    runs-on: windows-latest
    env:
      DOTNET_NOLOGO: true
      DOTNET_CLI_TELEMETRY_OPTOUT: true
      PLUGIN_NS: 'Npp.DotNet.Plugin'
      PLUGIN_NAME: 'Npp.DotNet.Plugin.Demo'
      PROJECT_NAME: ${{ matrix.plugin_demo }}
      BUILD_CONFIG: ${{ matrix.build_config }}
      RID: ${{ matrix.target_runtime }}
      TFM: 'net10.0-windows'

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          global-json-file: ./global.json

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@6fb02220983dee41ce7ae257b6f4d8f9bf5ed4ce # v2.0.0

      - name: Restore projects
        run: |
          dotnet restore
          dotnet restore test

      - name: Test memory layout
        if: matrix.build_config == 'Debug' && matrix.plugin_demo == 'minimal'
        working-directory: ./test
        run: |
          dotnet msbuild /t:Build /p:TargetFramework=${env:TFM} /p:SharedRuntimeIdentifier=win-${env:RID}
          dotnet test -f ${env:TFM} --no-build .\Memory

      - name: Test unmanaged string buffer allocation
        if: matrix.target_runtime == 'x64' && matrix.plugin_demo == 'minimal'
        working-directory: ./test
        run: |
          dotnet test -f ${env:TFM} -c ${env:BUILD_CONFIG} .\Buffers

      - name: Build demo plugins
        run: |
          dotnet build examples\${env:PROJECT_NAME} -f ${env:TFM} -r win-${env:RID} -c ${env:BUILD_CONFIG}
          dotnet publish examples\${env:PROJECT_NAME} -f ${env:TFM} -r win-${env:RID} -c ${env:BUILD_CONFIG}

      - name: Pack localized plugin assets
        if: matrix.build_config == 'Release' && matrix.plugin_demo == 'minimal'
        working-directory: examples/minimal/bin/Release/${{ env.TFM }}/win-${{ matrix.target_runtime }}/native
        run: |
          7z a -tzip "${env:PLUGIN_NAME}.${env:RID}.zip" "${env:PLUGIN_NAME}.dll" "${env:PROJECT_DIR}\examples\minimal\localizations" -y
        env:
          PROJECT_DIR: ${{ github.workspace }}

      - name: Upload ${{ env.PLUGIN_NAME }}.${{ matrix.target_runtime }}
        if: matrix.build_config == 'Release' && matrix.plugin_demo == 'minimal'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{ env.PLUGIN_NAME }}.${{ matrix.target_runtime }}
          path: examples/minimal/bin/Release/${{ env.TFM }}/win-${{ matrix.target_runtime }}/native/${{ env.PLUGIN_NAME }}.${{ matrix.target_runtime }}.zip

      - name: Upload ${{ env.PLUGIN_NS }}.Gui.Demo.${{ matrix.target_runtime }}
        if: matrix.build_config == 'Release' && matrix.plugin_demo == 'gui'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{ env.PLUGIN_NS }}.Gui.Demo.${{ matrix.target_runtime }}
          path: examples/gui/bin/Release/${{ env.TFM }}/win-${{ matrix.target_runtime }}/native/${{ env.PLUGIN_NS }}.Gui.Demo.dll

      - name: Upload ${{ env.PLUGIN_NS }}.VBNet.Demo.${{ matrix.target_runtime }}
        if: matrix.build_config == 'Release' && matrix.plugin_demo == 'vbnet'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{ env.PLUGIN_NS }}.VBNet.Demo.${{ matrix.target_runtime }}
          path: examples/vbnet/bin/Release/${{ env.TFM }}/win-${{ matrix.target_runtime }}/native/${{ env.PLUGIN_NS }}.VBNet.Demo.dll

      - name: Upload ${{ env.PLUGIN_NS }}.FSharp.Demo.${{ matrix.target_runtime }}
        if: matrix.build_config == 'Release' && matrix.plugin_demo == 'fsharp'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{ env.PLUGIN_NS }}.FSharp.Demo.${{ matrix.target_runtime }}
          path: examples/fsharp/bin/Release/${{ env.TFM }}/win-${{ matrix.target_runtime }}/native/${{ env.PLUGIN_NS }}.FSharp.Demo.dll
