# SPDX-FileCopyrightText: Public Domain
# SPDX-License-Identifier: CC0-1.0

name: Native AOT Build
on:
  push:
    branches-ignore:
      - 'dependabot/**'
  pull_request:
    branches-ignore:
      - 'dependabot/**'

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read

jobs:
  REUSE_compliance_check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: REUSE Compliance Check
      uses: fsfe/reuse-action@676e2d560c9a403aa252096d99fcab3e1132b0f5 # v6.0.0

  publish_aot:
    strategy:
      matrix:
        target_runtime: [ x64, arm64 ]
        build_config: [ Release, Debug ]
        plugin_demo: [ minimal, gui, fsharp, vbnet ]
    runs-on: windows-latest
    env:
      DOTNET_NOLOGO: true
      DOTNET_CLI_TELEMETRY_OPTOUT: true
      PLUGIN_NS: 'Npp.DotNet.Plugin'
      PLUGIN_NAME: 'Npp.DotNet.Plugin.Demo'

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5.0.0
        with:
          global-json-file: ./global.json

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@6fb02220983dee41ce7ae257b6f4d8f9bf5ed4ce # v2.0.0

      - name: Restore projects
        run: |
          dotnet restore
          dotnet restore test

      - name: Test memory layout
        if: matrix.build_config == 'Debug' && matrix.plugin_demo == 'minimal'
        working-directory: ./test
        run: |
          dotnet msbuild /t:Build /p:TargetFramework=net10.0-windows /p:SharedRuntimeIdentifier=win-${{ matrix.target_runtime }}
          dotnet test -f net10.0-windows --no-build .\Memory

      - name: Test unmanaged string buffer allocation
        if: matrix.target_runtime == 'x64' && matrix.plugin_demo == 'minimal'
        working-directory: ./test
        run: |
          dotnet test -f net10.0-windows -c ${{ matrix.build_config }} .\Buffers

      - name: Build demo plugins
        run: |
          dotnet build examples\${{ matrix.plugin_demo }} -f net10.0-windows -r win-${{ matrix.target_runtime }} -c ${{ matrix.build_config }}
          dotnet publish examples\${{ matrix.plugin_demo }} -f net10.0-windows -r win-${{ matrix.target_runtime }} -c ${{ matrix.build_config }}

      - name: Pack localized plugin assets
        if: matrix.build_config == 'Release' && matrix.plugin_demo == 'minimal'
        working-directory: examples/minimal/bin/Release/net10.0-windows/win-${{ matrix.target_runtime }}/native
        run: |
          7z a -tzip ${{ env.PLUGIN_NAME }}.${{ matrix.target_runtime }}.zip ${{ env.PLUGIN_NAME }}.dll ${{ github.workspace }}\examples\minimal\localizations -y

      - name: Upload ${{ env.PLUGIN_NAME }}.${{ matrix.target_runtime }}
        if: matrix.build_config == 'Release' && matrix.plugin_demo == 'minimal'
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ${{ env.PLUGIN_NAME }}.${{ matrix.target_runtime }}
          path: examples/minimal/bin/Release/net10.0-windows/win-${{ matrix.target_runtime }}/native/${{ env.PLUGIN_NAME }}.${{ matrix.target_runtime }}.zip

      - name: Upload ${{ env.PLUGIN_NS }}.Gui.Demo.${{ matrix.target_runtime }}
        if: matrix.build_config == 'Release' && matrix.plugin_demo == 'gui'
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ${{ env.PLUGIN_NS }}.Gui.Demo.${{ matrix.target_runtime }}
          path: examples/gui/bin/Release/net10.0-windows/win-${{ matrix.target_runtime }}/native/${{ env.PLUGIN_NS }}.Gui.Demo.dll

      - name: Upload ${{ env.PLUGIN_NS }}.VBNet.Demo.${{ matrix.target_runtime }}
        if: matrix.build_config == 'Release' && matrix.plugin_demo == 'vbnet'
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ${{ env.PLUGIN_NS }}.VBNet.Demo.${{ matrix.target_runtime }}
          path: examples/vbnet/bin/Release/net10.0-windows/win-${{ matrix.target_runtime }}/native/${{ env.PLUGIN_NS }}.VBNet.Demo.dll

      - name: Upload ${{ env.PLUGIN_NS }}.FSharp.Demo.${{ matrix.target_runtime }}
        if: matrix.build_config == 'Release' && matrix.plugin_demo == 'fsharp'
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ${{ env.PLUGIN_NS }}.FSharp.Demo.${{ matrix.target_runtime }}
          path: examples/fsharp/bin/Release/net10.0-windows/win-${{ matrix.target_runtime }}/native/${{ env.PLUGIN_NS }}.FSharp.Demo.dll
