# SPDX-FileCopyrightText: Public Domain
# SPDX-License-Identifier: CC0-1.0

name: NuGet
on:
  push:
    tags:
      - '**'

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read

jobs:
  package:
    runs-on: windows-latest
    concurrency:
      group: rel-${{ github.ref_name }}
      cancel-in-progress: true
    permissions:
      id-token: write # required by NuGet/login
    env:
      DOTNET_NOLOGO: true
      DOTNET_CLI_TELEMETRY_OPTOUT: true

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          global-json-file: ./global.json

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@6fb02220983dee41ce7ae257b6f4d8f9bf5ed4ce # v2.0

      - name: Build package
        run: |
          dotnet restore
          .\scripts\pack.ps1

      - name: Obtain NuGet API key
        uses: NuGet/login@d22cc5f58ff5b88bf9bd452535b4335137e24544 # v1.1.0
        id: login
        with:
          user: ${{ secrets.NUGET_USER }}

      - name: Publish release
        working-directory: ./lib/bin/Release
        run: |
          dotnet nuget push Npp.DotNet.Plugin.${env:RELEASE}.nupkg -k ${env:API_KEY} -s https://api.nuget.org/v3/index.json --skip-duplicate
        env:
          RELEASE: ${{ github.ref_name }}
          API_KEY: ${{ steps.login.outputs.NUGET_API_KEY }}
