# SPDX-FileCopyrightText: Public Domain
# SPDX-License-Identifier: CC0-1.0

name: NuGet
on:
  push:
    tags:
      - '**'

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read
  id-token: write

jobs:
  package:
    runs-on: windows-latest
    env:
      DOTNET_NOLOGO: true
      DOTNET_CLI_TELEMETRY_OPTOUT: true

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5.0.1
        with:
          global-json-file: ./global.json

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@6fb02220983dee41ce7ae257b6f4d8f9bf5ed4ce # v2.0

      - name: Build package
        run: |
          $REL=${env:GITHUB_REF}.Split('/')[2]
          echo "RELEASE_VERSION=$REL" >> $env:GITHUB_ENV
          dotnet restore
          .\scripts\pack.ps1

      - name: Obtain NuGet API key
        uses: NuGet/login@d22cc5f58ff5b88bf9bd452535b4335137e24544 # v1.1.0
        id: login
        with:
          user: ${{ secrets.NUGET_USER }}

      - name: Publish release
        working-directory: ./lib/bin/Release
        run: |
          dotnet nuget push Npp.DotNet.Plugin.${{ env.RELEASE_VERSION }}.nupkg -k ${{ steps.login.outputs.NUGET_API_KEY }} -s https://api.nuget.org/v3/index.json --skip-duplicate
