# SPDX-FileCopyrightText: Public Domain
# SPDX-License-Identifier: CC0-1.0

name: NuGet
on:
  push:
    tags:
      - '**'

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read

jobs:
  package:
    runs-on: windows-latest
    env:
      DOTNET_NOLOGO: true
      DOTNET_CLI_TELEMETRY_OPTOUT: true

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5.0.0
        with:
          dotnet-version: >
            8.0.x
            9.0.x
            10.0.x

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@6fb02220983dee41ce7ae257b6f4d8f9bf5ed4ce # v2.0

      - name: Build package
        run: |
          $REL=${env:GITHUB_REF}.Split('/')[2]
          echo "RELEASE_VERSION=$REL" >> $env:GITHUB_ENV
          dotnet restore
          .\scripts\pack.ps1

      - name: Publish release
        working-directory: ./lib/bin/Release
        run: |
          dotnet nuget push Npp.DotNet.Plugin.${{ env.RELEASE_VERSION }}.nupkg -k ${{ secrets.NPP_NET_NUGET_API_KEY }} -s https://api.nuget.org/v3/index.json --skip-duplicate
